<div class="row">
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
        <mat-slide-toggle formControlName="showImage">Show Images</mat-slide-toggle>
        <mat-slide-toggle formControlName="allowEdit">Edit</mat-slide-toggle>
        <mat-slide-toggle formControlName="showFork">Show Fork</mat-slide-toggle>
    </form>
</div>
<div class="row">
    <div class="column" *ngFor="let g_repo of gitRepos">
        <mat-card [ngClass]="{'forked': g_repo.fork}" class="example-card">
            <img *ngIf="showImage" mat-card-image src="assets/image/default.png">
            <mat-card-content>
                <div class="card-content">
                    <div class="card-name">
                       <a href="{{g_repo.htmlUrl}}" target="_blank">{{g_repo.name}}</a> 
                    </div>
                    <button *ngIf="allowEdit" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="allowEdit" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-button>
                        <mat-icon>download</mat-icon> Download
                    </button>
                </mat-menu>
            </mat-card-content>
        </mat-card>
    </div>
</div>