* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0px;
}

ul li {
  margin-left: 20px;
}

.title-wrapper {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  .actions {
    display: inline-flex;
  }
  // &:hover {
  //   transform: scale(1.05);
  //   width: 100px;
  //   .actions {
  //     margin-left: 5px;
  //     margin-top: -3px;
  //     padding: 0;
  //     display: inline-flex;
  //   }
  // }

  // .title {
  //   &:hover {
  //   }
  // }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  span {
    display: flex;
    cursor: pointer;
    align-items: flex-end;
  }
}
