<div style="
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-between;
align-items: baseline;
">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div>
        <button mat-raised-button style="margin-right: 10px;" color="accent" (click)="deleteAll()">Delete All</button>
        <button mat-raised-button color="primary" (click)="add()">Add</button>
    </div>
</div>
<div class="mat-elevation-z8">
    <div class="example-container">
        <table mat-table class="full-width-table" matSort matSortActive="docid" matSortDirection="asc"
            matSortDisableClear aria-label="Rows" multiTemplateDataRows>
            <ng-container matColumnDef="docid" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="300px">Id</th>
                <td mat-cell *matCellDef="let row" width="300px">{{row.docId}}</td>
            </ng-container>

            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> content </th>
                <td mat-cell *matCellDef="let row">
                    {{row.content}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef width="100px"> Action</th>
                <td mat-cell *matCellDef="let row" width="100px">
                    <button mat-icon-button  (click)="edit(row.docId)"> <mat-icon>edit</mat-icon></button>
                    <button mat-icon-button  (click)="delete(row.docId)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-row-row">
            </tr>
        </table>
    </div>
    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>