
.thumbnail{
  width: calc(100% - 12px);
  height: 200px;
  padding: 5px;
  border: 2px solid grey;
  background-color: lightgray;
}
.card-content{
  display: flex;
  justify-content: space-between;
  align-items: baseline
}
.card-name{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}