<mat-progress-bar *ngIf="progress > 0" mode="determinate" value="progress"></mat-progress-bar>
<mat-card class="example-card" appDnd (fileDropped)="onFileDropped($event)">
  <img *ngIf="showImage" mat-card-image [src]="imageUrl" alt="{{webapp.name}}"
    onerror="this.onerror=null; this.src='assets/image/default.png'">
  <mat-card-content>
    <div class="card-content">
      <div class="card-name">
        <a href="{{webapp.hostedLocationUrl}}" target="_blank">{{webapp.name}}</a>
      </div>
      <div>

        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <div style="display: flex;flex-direction: column; align-items: flex-start;">
        <button mat-button>
          <mat-icon>download</mat-icon> Download
        </button>
        <button mat-button (click)="removeWebapp(webapp.id)">
          <mat-icon>delete</mat-icon> Delete
        </button>
        <button mat-button (click)="editWebapp(webapp.id)">
          <mat-icon>edit</mat-icon> Edit
        </button>
      </div>
    </mat-menu>
  </mat-card-content>
</mat-card>