.container {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 30px;
}
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px !important;
  ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    li {
      margin-left: 20px;
      a {
        font-weight: 500;
        color: #3e75ff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.content-container {
  padding: 8px;
}
.bread-crumb {
  position: fixed;
  right: 0;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
