:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: rgb(142, 181, 255);
  }
  //
  &:hover {
    >.mat-list-item:not(.expanded) {
      background-color: rgb(17, 177, 240) !important;
    }
  }
}

.mat-list-item {
  padding: 4px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 5px;
  }
}
