::ng-deep img {
  height: auto !important;
  width: 100% !important;
  background-color: #fff;
}
.wrapper {
  margin: 0px 5px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.viewer {

}
