
<mat-toolbar color="primary" >
  Add category
</mat-toolbar>
<mat-dialog-content style="width: 400px;">
  <mat-form-field style="width: 100%;" floatLabel="always" appearance="outline">
    <mat-label>Enter category name</mat-label>
    <input matInput placeholder="Category Name" [(ngModel)]="categoryName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="categoryName" color="primary">OK</button>
</mat-dialog-actions>