.example-container {
  width: 100%;
  overflow: auto;
}
.full-width-table {
  width: 100%;
}
th.mat-column-docid,
td.mat-column-docid {
  padding-left: 8px;
}

td.mat-column-action {
  width: 20px;
  padding-right: 8px;
}
