<div>
    <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. github" #input>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <div class="example-container">
        <table mat-table class="full-width-table" matSort matSortActive="docid" matSortDirection="asc"
            matSortDisableClear aria-label="Rows" multiTemplateDataRows>
            <ng-container matColumnDef="docid" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let row">{{row.docId}}</td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>
                    <div style="display: flex;">
                        <button mat-icon-button (click)="add()">
                            <mat-icon>add_box</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteAll()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    <div style="display: flex;">
                        <button mat-icon-button (click)="edit(row.docId)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(row.docId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-row-row">
            </tr>
        </table>
    </div>
    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>