<div style="display: flex; justify-content: space-between;margin-bottom: 10px; border-bottom: 1px solid gray; padding-bottom: 10px;">
  <div class="csv-file-chooser-section">

    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
        accept=".csv" />

    <label>
        Parse Headers?
    </label>
    <select aria-placeholder="Parse headers?" [(ngModel)]="header">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
    </select>
</div>
  <button mat-raised-button color="primary" (click)="scanFolder()">Scan Folder</button>
</div>
<div style="display: flex; ">
    <div style="flex:2; border-right: 2px dashed gray; padding-right: 5px;">
        <div>
            <div mwlFlatpickr [altInput]="true" [convertModelValue]="true" [allowInput]="false" [inline]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" (flatpickrChange)="flatpickrChanged($event.selectedDates)"
                (flatpickrMonthChange)="flatpickrMonthChanged($event.instance)"></div>
        </div>
        <div style="padding: 10px;">

            <div class="btn-group">
                <button mat-button color="primary" (click)="selectAllContact()">
                    Select All
                </button>

                <button mat-button color="accent" (click)="initContacts()">
                    Default
                </button>
                <button mat-button color="accent" (click)="removeAllContact()">
                    Remove All
                </button>
            </div>

            <div class="contact-list">

                <ul class="contacts">
                    <li *ngFor="let contact of contacts">
                        <div class="form-check">
                            <input class="form-check-input" (change)="filterContact()" type="checkbox"
                                [value]="contact.number" [(ngModel)]="contact.checked"
                                [id]="'contact-'+ contact.number" />
                            <label class="form-check-label" [for]="'contact-'+ contact.number">{{contact.name}} -
                                {{contact.number}}
                                <span style="font-size: large; font-weight: 700;">
                                    {{contact.count}}
                                </span>
                            </label>

                        </div>

                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div style="flex:6; padding-left: 5px;">
        <div style="display: flex; justify-content:space-around;">
            <div>
                <div style="display: flex; justify-content:flex-start">
                    <button mat-button color="accent" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </button>
                    <button mat-button color="primary"mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </button>
                    <button mat-button color="accent" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </button>
                </div>
            </div>
            <div>
                <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
            </div>
            <div>
                <div class="btn-group">
                    <button mat-button color="primary"(click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                        Month
                    </button>
                    <button mat-button color="accent"(click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                        Week
                    </button>
                    <button mat-button color="accent"(click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                        Day
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" [cellTemplate]="customCellTemplate"
                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
    </div>
    <div style="flex:1;">
        <div class="" style="padding: 10px;">
            <ul class="event-list">
                <li class="main" *ngFor="let event of filtredEvents">
                    <div
                        [ngStyle]="{'background-color': stringToColour(event.name).b,'color':stringToColour(event.name).t}">
                        {{event.name}} {{event.number}} {{event.count}}
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let date of event.date">
                                {{date | date: 'dd/MM/yyyy hh:mm'}}
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div style="margin: 5px">
        <ul class="events-list">
            <li *ngFor="let dayEvent of day.events.slice(0, 3)" [ngbTooltip]="dayEvent.title.split('-')[1]"
                [ngStyle]="{'background-color': stringToColour(dayEvent.title).b,'color': stringToColour(dayEvent.title).t}">
                {{dayEvent.title.split('-')[0]}}
            </li>
            <li *ngIf="day.badgeTotal > 3 " style="background-color: darkgray;">
                Show {{day.events.length - 3}} more
            </li>
        </ul>
    </div>

</ng-template>
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<!--
  
  
  <br /><br /><br />
  
  <h3>
    Edit events
    <button class="btn btn-primary float-end" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary + text color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()"
            />
            <input
              type="color"
              [ngModel]="event.color.secondaryText ?? '#1e90ff'"
              (ngModelChange)="event.color.secondaryText = $event"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" mat-raised-button color="primary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
  -->

