.wrapper {
  margin: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 2px;
}
.full-width-input {
  width: 100%;
}
.action-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
