<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div class="wrapper">
        <div class="row">
            <div class="column">
                <div class="action-buttons">
                    <mat-form-field class="full-width-input">
                        <input type="text" autocomplete="new-password" matInput placeholder="Title"
                            formControlName="title" required>
                        <mat-error>
                            Please provide a title name
                        </mat-error>
                    </mat-form-field>
                    <button mat-button color="accent" type="reset">Reset</button>
                    <button mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <app-text-editor [control]="notesRawControl"></app-text-editor>
            </div>
        </div>
    </div>

</form>